@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CreationdesModel.Models.Marque>


<a asp-controller="Marque" asp-action="Add" class="btn btn-primary">Add </a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marques</th>
            <th scope="col">Nbr De voitures</th>
            <th scope="col">La liste des voitures</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        <div class="alert alert-danger">
            @Html.ValidationSummary()
            @ViewData["error"]
        </div>


        @foreach (Marque item in Model)
        {
            <tr>
             
                <td>@item.Id</td>
                <td>@item.Libelle</td>
                <td>@item.Voitures.Count</td>
                <td>
                    <select>
                 @foreach(Voiture v in item.Voitures){
                            <option>   @v.Matricule </option>
                        }
                    </select>
                </td>
              
                <td>
                    <a asp-controller="Marque" asp-action="edit" asp-route-id="@item.Id"  class="btn btn-secondary">Edit</a>
                    <a asp-controller="Marque" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Voulez vous vraiment suprimer ?');">Suprimmer</a>
                </td>
            </tr>
        }
        
    
      
    </tbody>
</table>

